#blog .cbp-item {
  padding: 15px !important;
}
#blog section {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

#blog a.blog-box {
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 48px #04060414;
}
#blog a.blog-box .blog-img {
  position: relative;
}

.blog-img {
  overflow: hidden;
  display: block;
}

.blog-img img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.blog-box:hover .blog-img img {
  transform: scale(1.1);
}

#blog a.blog-box .blog-box-info {
  padding: 15px;
}
#blog .blog-box span.date {
  font-family: arial;
  font-size: 11px;
  color: #505050 !important;
}

#blog a.blog-box .blog-box-info .little-text {
  padding: 5px 0;
}
#blog .blog-box .title {
  color: #000;
  padding: 2px 0 4px;
  font-size: 15px;
  line-height: 20px;
}
#blog .blog-box span.category {
  color: #afafaf;
  font-size: 13px;
}
