.section-title {
  padding: 0 3px;
  display: inline-block;
  position: relative;
}

section {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.section-title span {
  opacity: 0.4;
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
