.site-btn {
  border: 0;
  border-radius: 50px;
  padding: 1px 29px;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
}

.site-btn.icon {
  text-align: left;
  padding: 1px 6px 1px 19px;
}

header nav .site-btn {
  margin: 18px 18px 0 5px;
}

.site-btn.icon i {
  color: #000;
  float: right;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  width: 27px;
  height: 27px;
  margin-top: 4px;
  margin-left: 15px;
  font-size: 11px;
  line-height: 29px;
}
