body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  font-family: Roboto, sans-serif;
}

.container {
  margin-top: 60px;
}

.profile {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  box-shadow: 0 2px 92px #00000012;
}

.profile-name {
  padding: 20px;
  line-height: 18px;
}

.profile-name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}
.profile-name .job {
  color: #777;
  font-size: 13px;
}
.profile-image {
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  margin-top: -18px;
}
.profile-image img {
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
ul.profile-information {
  margin: 8px 0 8px 35px;
  list-style: none;
  padding-left: 0;
}
ul.profile-information li:first-child {
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
ul.profile-information li {
  color: #787878;
  border-left: 2px solid #eee;
  padding: 0 0 23px 20px;
  font-size: 14px;
}

ul.profile-information li:first-child:before {
  border: 0;
  width: 40px;
  height: 40px;
  margin-top: -30px;
  margin-bottom: 20px;
  margin-left: -51px;
  padding: 11px 14px;
  position: relative;
  box-shadow: 0 2px 32px #047bf84d;
}
ul.profile-information li:before {
  border-color: #ffb100 !important;
}
ul.profile-information li:first-child:after {
  content: "";
  background: url(assets/glassess.png) 0 0 / 27px 10px no-repeat;
  width: 30px;
  height: 10px;
  margin: 16px -15px;
  position: absolute;
  top: 0;
  left: 0;
}

ul.profile-information li:last-child {
  border: 0;
  margin-top: -2px;
  margin-left: 2px;
}
ul.profile-information li p {
  color: #7f7f7f;
  font-size: 13.5px;
  line-height: 12px;
}
ul.profile-information li span {
  color: #000;
}
ul.profile-information li:before {
  content: "";
  background: #fff;
  border: 2px solid;
  border-radius: 50px;
  width: 8px;
  height: 8px;
  margin-top: 2px;
  margin-left: -25px;
  font-size: 8px;
  font-weight: 400;
  display: block;
  position: absolute;
}
.timeline li:before,
ul.profile-information li:before {
  border-color: #ffb100 !important;
}

ul.profile-information li:first-child:before {
  background: #ffc500 !important;
}

.profile .site-btn {
  margin: 18px auto 30px;
  display: block;
}
.site-btn.icon {
  text-align: left;
  padding: 1px 6px 1px 19px;
}

.site-btn.icon i {
  color: #000;
  float: right;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  width: 27px;
  height: 27px;
  margin-top: 4px;
  margin-left: 15px;
  font-size: 11px;
  line-height: 29px;
}
.right-container {
  display: flex;
  flex-direction: column;
  min-width: 75%;
  /* border: 2px solid red; */
  gap: 10%;
}
header nav a.home-btn,
.estate figure .imgout .price,
.site-btn,
.timeline li:first-child i,
nav ul li a:after,
.owl-theme .owl-controls .owl-page span,
.skill-list .progress .percentage,
ul.profile-information li:first-child:before {
  background: #ffc500 !important;
}

.site-btn {
  border: 0;
  border-radius: 50px;
  padding: 1px 29px;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
}

nav ul {
  list-style: none;
}
header nav {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  line-height: 70px;
  display: inline-block;
  box-shadow: 0 2px 92px #00000012;
}

header nav ul li {
  float: left;
}
header nav ul li a {
  color: #000;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 73px;
  display: block;
}
header nav a.home-btn {
  color: #fff;
  float: left;
  border-radius: 6px 0 0 6px;
  height: 70px;
  margin-right: 10px;
  padding: 0 24px;
  line-height: 77px;
  transition: all 0.4s;
}

header nav a {
  text-decoration: none;
}
header nav a.home-btn i {
  font-size: 21px;
}
.site-btn.icon {
  padding: 1px 6px 1px 19px;
  text-align: left;
}
header nav .site-btn {
  margin: 18px 18px 0 5px;
}
.social-icons a {
  color: #000;
  width: 24px;
  height: 18px;
  font-size: 12px;
  transition: all 0.2s;
  display: inline-block;
}

.main-content {
  border-radius: 6px;
  min-height: 500px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 2px 92px #00000012;
}

.about-me {
  padding: 30px;
  padding-bottom: 45px;
}

.my-services {
  background: #fafafa;
  padding: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.service {
  background: #fff;
  border-radius: 8px;
  min-height: 186px;
  padding: 20px;
  box-shadow: 0 0 48px #04060414;
}
.service .icon img {
  width: 44px;
  margin-bottom: 10px;
}
.service .icon i:before {
  margin-left: 0;
  font-size: 44px;
}

.service span.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.little-text {
  color: #989898;
  font-weight: 400;
  line-height: 18px;
}
.section-title {
  padding: 0 3px;
  display: inline-block;
  position: relative;
}

section {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.section-title span {
  opacity: 0.4;
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.design-skills {
  padding-left: 30px;
  padding-bottom: 50px;
  padding-top: 60px;
}

.code-skills {
  padding-left: 30px;
  padding-bottom: 50px;
  padding-top: 60px;
}

.skill-list li {
  list-style: none;
}
.skill-list .progress {
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0;
  background: #dfdfdf;
  border-radius: 50px;
  width: 100%;
  height: 5px;
  margin: 10px 0 20px;
  display: block;
  position: relative;
  overflow: visible;
}

.skill-list .progress .percentage {
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  position: absolute;
  top: 0;
  bottom: 0;
}
h3 {
  font-size: 37px;
  font-weight: 500;
}
.skill-list h3 {
  font-size: 12px;
}
footer {
  width: 100%;
  height: 100px;
  border: 2px solid red;
}

ul.timeline {
  margin-left: 10px;
}
.main-content .tabs .tab:not(:first-child) {
  display: none;
  /* Ẩn các tab trừ home */
}

.timeline li:first-child i {
  float: left;
  text-align: center;
  background: #fff;
  border-radius: 30px;
  width: 53px;
  margin: -13px -45px;
  padding: 18px 16px;
}
.timeline li:first-child {
  padding: 0 0 60px 19px;
}
.timeline li {
  border-left: 2px solid #ececec;
  padding: 0 0 40px 30px;
  list-style: none;
}

.timeline li:last-child {
  border: 0;
  margin-left: 2px;
}

.timeline-title {
  margin-left: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.timeline li:not(:first-child) {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  position: relative;
}

.timeline li:not(:first-child):hover {
  transform: scale(1.08);
  filter: brightness(1.2);
}

.timeline li:not(:first-child):hover p {
  font-weight: 500;
}
.timeline li:before {
  content: "";
  background: #fff;
  border: 2px solid;
  border-radius: 50px;
  width: 8px;
  height: 8px;
  margin-top: -1px;
  margin-left: -35px;
  font-size: 8px;
  font-weight: 400;
  display: block;
  position: absolute;
}

.timeline li:not(:first-child):hover:before {
  background: #ffc02e;
  transform: scale(1.5);
  font-weight: 500;
}
.timeline li .line-title {
  font-size: 16px;
  line-height: 6px;
}

.timeline li span {
  padding: 9px 0;
  font-size: 12px;
  display: block;
}
.timeline li:first-child:before {
  background: 0 0;
  border: 0;
  position: relative;
}

.clients {
  background-color: #fafafa;
  padding-bottom: 45px;
  padding-top: 45px;
}
.clients .client {
  background: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 26px 16px;
  box-shadow: 0 0 48px #04060414;
}

.clients .client img {
  width: 100%;
}

.testimonials {
  overflow: hidden;
  margin-bottom: 30px;
}

.testimonials p {
  color: #989898;
  font-size: 12.5px;
  line-height: 20px;
}
.testimonials .comment .top-section .name-info .job {
  color: #d0d0d0;
  font-size: 12px;
}
.testimonials .comment {
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 48px #04060414;
  min-width: 30%;
}

.testimonials .comment .top-section {
  display: inline-block;
}

.testimonials .comment .top-section figure {
  float: left;
  border-radius: 50px;
  width: 23%;
  overflow: hidden;
}

.testimonials .comment .top-section figure img {
  width: 100%;
}

.testimonials .comment .top-section .name-info {
  float: left;
  width: 68%;
  padding: 8px 12px;
  line-height: 15px;
}
.testimonials .comment .top-section .name-info .name {
  font-size: 14px;
  font-weight: 500;
}

.testimonials .comment .top-section .name-info .job {
  color: #d0d0d0;
  font-size: 12px;
}
.splide__pagination {
  padding-top: 30px;
  margin-top: 45px;
}

.splide__pagination__page {
  width: 12px;
  height: 12px;
  background: rgba(255, 193, 7, 0.3); /* Màu vàng nhạt */
  border-radius: 50%;
  margin: 5px;
  transition: background 0.3s;
}

.splide__pagination__page.is-active {
  background: #FFC107; /* Màu vàng đậm khi active */
}

#portfolio section {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.content-header {
  z-index: 5;
  margin-bottom: 15px;
}

#portfolio section {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.cbp {
  z-index: 1;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.cbp-l-loadMore-button {
  text-align: center;
}

.cbp-filter-item {
  display: inline-block;
  /* padding: 10px 15px; */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.cbp-filter-item:hover {
  background-color: #f0f0f0;
}

#portfolio #filters-container .cbp-filter-item {
  color: #787878;
  cursor: pointer;
  float: left;
  margin-right: 15px;
  font-size: 14px;
}
.cbp-wrapper-outer,
.cbp-wrapper,
.cbp-wrapper-helper {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  list-style-type: none;
}
.cbp-wrapper-outer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.cbp-ready .cbp-item,
.cbp-ready .cbp-wrapper,
.cbp-ready .cbp-wrapper-helper {
  position: absolute;
  top: 0;
  left: 0;
}
#portfolio .cbp-item {
  padding: 15px !important;
}
.cbp .cbp-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.cbp-l-loadMore-link.site-btn {
  border-radius: 50px;
  border: 0 !important;
  /* padding: 10px 29px !important; */
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
}

.cbp-filter-item-active {
  color: #ffc500 !important;
}

#portfolio .cbp-item figure .icon {
  text-align: center;
  opacity: 0;
  vertical-align: middle;
  margin-top: -20px;
  transition: all 0.3s;
  display: table-cell;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

#portfolio .cbp-item figure img,
.work figure {
  width: 100%;
}

.cbp-lightbox img {
  border: 0;
  width: 100%;
  height: auto;
  display: block;
}

.cbp img {
  border: 0;
  width: 100%;
  height: auto;
  display: block;
}
#portfolio .cbp-item-wrapper {
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 48px #04060414;
}

.cbp a,
.cbp a:hover,
.cbp a:active {
  outline: 0;
  text-decoration: none;
}

#portfolio .cbp-item figure .icon {
  text-align: center;
  opacity: 0;
  vertical-align: middle;
  margin-top: -20px;
  transition: all 0.3s;
  display: table-cell;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

#portfolio .cbp-item:hover figure .icon {
  opacity: 0.9;
  transition: all 0.3s;
  transform: translateY(-25px);
}

#portfolio .cbp-item figure .icon i {
  color: #fff;
  text-align: center;
  text-align: center;
  background: #ffc500;
  border-radius: 50px;
  min-width: 50px;
  padding: 17px 0 16px;
  transition: all 0.3s;
}

#portfolio .cbp-item figure .icon i:before {
  font-size: 18px;
}

#portfolio .cbp-item figcaption {
  padding: 14px;
}

#portfolio .cbp-item figcaption .title {
  color: #000;
  font-size: 14px;
}

#portfolio .cbp-item figcaption .info {
  color: #989898;
  font-size: 13px;
  line-height: 18px;
  display: block;
}
#blog .cbp-item {
  padding: 15px !important;
}

#blog a.blog-box {
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 48px #04060414;
}
#blog a.blog-box .blog-img {
  position: relative;
}

.blog-img {
  overflow: hidden;
  display: block;
}

.blog-img img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.blog-box:hover .blog-img img {
  transform: scale(1.1);
}

#blog a.blog-box .blog-box-info {
  padding: 15px;
}
#blog .blog-box span.date {
  font-family: arial;
  font-size: 11px;
  color: #505050 !important;
}


#blog a.blog-box .blog-box-info .little-text {
  padding: 5px 0;
}
#blog .blog-box .title {
  color: #000;
  padding: 2px 0 4px;
  font-size: 15px;
  line-height: 20px;
}
#blog .blog-box span.category {
  color: #afafaf;
  font-size: 13px;
}

.site-form .site-input {
  color: #000;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  outline: 0;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 13px;
}
textarea {
  resize: vertical;
}
.site-form .site-area {
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  min-height: 100px;
  margin-bottom: 15px;
  padding: 20px 0 0 10px;
  font-size: 13px;
}

.contact-info ul li {
  color: #787878;
  font-size: 14px;
  line-height: 34px;
  list-style: none;
}

.contact-info ul li span {
  color: #000;
}

.contact-map iframe {
  width: 100%;
}

.contact-form {
  padding: 30px;
  padding-bottom: 45px;
  
} 

.contact-info {
  padding: 30px;
  padding-bottom: 45px;
}

.contact-map {
  margin-top: 15px;
  margin-bottom: 15px;
}
footer .footer {
  color: #fff;
  background: #1e1e1e;
  border-radius: 8px;
  min-height: 70px;
  line-height: 72px;
  margin-bottom: 30px;
  margin-top: 30px;
}
footer .footer .copyright {
  color: #9c9c9c;
  text-align: right;
  font-size: 12px;
}

.content {
  display: none;
}

/* Hiển thị phần tử khi được chọn bằng href */
:target {
  display: block;
}

/* Mặc định hiển thị trang chủ nếu không có #id nào */
.main-content:not(:has(:target)) .content:first-child {
  display: block;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.site-btn,
header nav a.home-btn i,
ul.profile-information li:first-child:before,
#blog .blog-box .date span,
#blog .blog-box .date span,
.timeline li:first-child i,
.cbp-l-loadMore-link.site-btn {
  color: #000 !important;
}

.cbp-l-loadMore-button .cbp-l-loadMore-link, .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
  color: #7e7b7b;
  box-shadow: none;
  border: 1px solid #dedede;
  outline: 0;
  min-width: 80px;
  margin-top: 40px;
  padding: 0 30px;
  font: 400 12px/36px Open Sans,sans-serif;
  text-decoration: none;
  transition: color .25s;
  display: inline-block;
}
.site-btn:hover,
header nav a.home-btn:hover,
.section-title span {
  background-color: #ffb100 !important;
}

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

p {
  color: #4c4c4c;
  font-size: 13px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .nav-right-desk .site-btn {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  

  .tabs .tab:not(:first-child) {
    display: none;
  }

  .hamburger {
    display: block !important;
    cursor: pointer;
    padding-right: 24px;
    
  }

  /* Khi menu mở */
  .tabs.show-menu .tab {
    display: block;
  }

  .dropdown-menu-container {
    position: relative;
  }

  .dropdown-menu-container:hover .dropdown-menu {
    display: block;
  }
  
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #222;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Các mục trong dropdown */
.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background: #444;
} 

@media (min-width: 1201px) {
  .dropdown-menu {
    display: none !important;
  }
}

